@import "~Styles/variables";

.user {
  background: url("user.svg");
  color: white;
  width: 34px;
  background-size: contain;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
  padding: 20px;
  padding-top: 30px;
  margin-top: -5px;
}

.bell {
  background: url("bell.svg");
  color: white;
  width: 50px;
  background-size: contain;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
  padding: 20px;
  margin-top: -5px;
  padding-top: 30px;
}

.ldc-notification-element {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:before {
    font-size: 30px;
  }

  .notification-badge {
    position: absolute;
    top: -3px;
    right: 6px;
    width: 16px;
    height: 16px;
    line-height: 15px;
    font-size: 11px;
    color: white;
    border-radius: 50%;
    background-color: $ldc-color;
    text-align: center;
    font-style: normal;

    &.plus {
      width: 16px;
      height: 16px;
    }
  }

  .notification-inner {
    cursor: default;
    position: absolute;
    width: 300px;
    top: 55px;
    left: -250px;
    background: #433190;
    line-height: 30px;
    color: #fff;

    .small-arrow {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -6px;
      right: 15px;
      background: #604db6;
      transform: rotateZ(45deg);
      z-index: -1;
    }

    .ni-row {
      padding: 15px;
      border-bottom: 1px solid #6a56bb;
      font-weight: 300;

      &.unread {
        font-weight: 600;
        background: #604db6;

        .nr-time {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
        }
      }

      .nr-time {
        font-size: 14px;
        font-weight: 200;
      }
    }

    .view-all {
      padding: 15px;
      color: white;

      .view-all-text {
        margin-left: 10px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: $screen-tablets) {

  .ldc-notification-element {

    .notification-inner {
      width: 100vw;
      height: calc(100vh - 60px);
      top: 60px;
      left: auto;
      right: -60px;
      border-top: 5px solid $main-color;

      &:before {
        content: '';
        height: 80px;
        width: calc(100vw - 80px);
        position: absolute;
        top: -80px;
        right: 0;
        z-index: 10;
        background-color: $main-color;
      }

      .small-arrow {
        right: 75px;
      }
    }
  }
}