@import "~Styles/variables";

section.ldc-real-estate-lead {
  $padding: 25px;
  $bg-card: #f2f2f2;

  position: relative;
  padding: $padding;
  margin-bottom: 20px;
  background-color: $bg-card;
  border-left: 0 solid $bg-level-3;
  transform: scaleX(1);
  transform-origin: right;
  transition: all 300ms ease-in;

  &.rel-checked {
    transform: scaleX(0.99);
  }

  .rel-specification {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: $bg-level-2;
  }

  .rel-price {
    color: black;
    font-size: 20px;
    padding: 16px 0 20px;
    font-weight: 600;
  }

  .rel-details {
    display: inline-block;
    min-width: 280px;

    .reld-status,
    .reld-date,
    .reld-location {
      color: $main-color;
      padding-top: 8px;
    }

    .reld-status {
      text-transform: uppercase;
      padding-top: 0;
    }
  }

  .rel-fetchers {
    display: inline-block;
    color: $main-color;

    span {
      display: inline-block;
    }
  }

  .ldc-button {
    position: absolute;
    right: $padding;
    bottom: $padding;
  }

  &:hover {
    cursor: pointer;
    border-left-width: 10px;
  }
}
