@import "~Styles/variables";

section.ldc-real-estate-lead {
  $padding: 25px;
  $bg-card: #f3eded;
  $bg-card-checked: #c2dbff;

  position: relative;
  padding: $padding;
  margin-bottom: 20px;
  background-color: $bg-card;
  border-left: 0 solid $main-color;
  transform: scaleX(1);
  transform-origin: right;
  transition: all 300ms ease, transform 200ms ease;

  .rel-industry {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: $main-color;
  }

  .lead_ops {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 25px;
    height: 50px;
    width: 50px;

    .op {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      > div {
        height: 90%;
        margin: 2px auto;
        width: 50%;
      }
    }
  }

  .rel-description {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: $bg-level-2;
  }

  .rel-price {
    color: black;
    font-size: 20px;
    padding: 16px 0 20px;
    font-weight: 600;
  }

  .rel-details-wrapper {
    display: flex;

    .rel-details {
      display: inline-block;
      min-width: 230px;

      .reld-category,
      .reld-status,
      .reld-date,
      .reld-location,
      .reld-contact-person,
      .reld-email,
      .reld-telephone {
        color: $main-color;
        padding-top: 8px;
      }

      .reld-status {
        text-transform: uppercase;
        padding-top: 0;
      }
    }

    .rel-features {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 75px;
      color: $main-color;

      span {
        position: relative;
        display: inline-block;
        padding-left: 40px;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;

        &:before {
          content: "";
          position: absolute;
          left: 24px;
          top: 4px;
          height: 12px;
          width: 4px;
          border-right: 1px solid;
          border-bottom: 1px solid;
          border-color: $ldc-color;
          display: inline-block;
          transform: rotate(45deg);
        }
      }
    }
  }

  .rel-arrow {
    display: inline-block;
    position: absolute;
    left: 50%;

    .arrow-left,
    .arrow-right {
      display: inline-block;
      position: relative;
      bottom: 6px;
      height: 10px;
      width: 2px;
      background-color: $bg-level-2;
    }
  }

  &.rel-card-open {
    .rel-arrow {
      bottom: -4px;

      .arrow-left {
        transform: rotate(45deg) translateX(-3px);
      }

      .arrow-right {
        transform: rotate(-45deg) translateX(3px);
      }
    }
  }

  &.rel-card-closed {
    padding: 15px 25px 20px;

    .rel-price {
      padding-bottom: 0;
    }
    .rel-details-wrapper {
      display: none;
    }

    .rel-arrow {
      .arrow-left {
        transform: rotate(-45deg) translateX(-3px);
      }

      .arrow-right {
        transform: rotate(45deg) translateX(3px);
      }
    }
  }

  .rel-selector {
    display: none;
  }

  &.rel-selectable {
    .rel-selector {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      background-color: $bg-main-btn;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      right: 25px;
      bottom: 15px;

      .select-icon {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 14px;
        transform: translateX(-1px);

        .up-down,
        .left-right {
          display: inline-block;
          position: relative;
          height: 24px;
          width: 3px;
          background-color: white;
        }

        .left-right {
          transform: rotateZ(90deg) translateY(3px);
        }
      }
    }

    &.rel-card-closed .rel-selector {
      width: 35px;
      height: 35px;
      right: 25px;
      bottom: 15px;

      .select-icon {
        top: 9px;
        transform: translateX(-1px);

        .up-down,
        .left-right {
          height: 18px;
          width: 2px;
        }

        .left-right {
          transform: rotateZ(90deg) translateY(2px);
        }
      }
    }

    &.rel-checked .select-icon,
    &.rel-card-closed.rel-checked .select-icon {
      transform: translateX(-3px) rotateZ(45deg);
    }

    &.rel-checked .rel-selector {
      background-color: unset;

      .select-icon .up-down,
      .select-icon .left-right {
        background-color: $ldc-color;
      }
    }
  }

  .rel-buttons {
    opacity: 0;
    position: absolute;
    right: $padding;
    bottom: $padding;

    .relb-btn {
      margin-left: 20px;
      height: 40px;
      border-radius: 0;
      padding: 0 30px;
      color: $main-color;
      background-color: transparent;
      border: solid 1px $main-color;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      outline: none;
      transition: all 300ms ease-in-out;

      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }

  &:not(.constant-card-open):hover {
    cursor: pointer;
  }

  &:hover .rel-buttons {
    cursor: pointer;
    opacity: 1;
  }

  &.rel-checked {
    transform: scaleX(0.98);
    background-color: $bg-card-checked;
    border-left: 10px solid $main-color;
  }
}

@media (max-width: $screen-tablets) {
  section.ldc-real-estate-lead {
    $padding: 20px;

    padding: $padding;
    transform: scale(1);
    transform-origin: center;

    &.rel-card-closed {
      padding: 15px 20px 20px;
    }

    .rel-details-wrapper {
      display: block;

      .rel-details {
        min-width: auto;
      }

      .rel-features {
        margin: 24px 0 30px;

        span {
          padding-left: 26px;

          &:before {
            left: 0px;
          }
        }
      }
    }

    .rel-buttons {
      opacity: 1;
      position: static;
      right: $padding;
      bottom: $padding;

      .relb-btn {
        margin: 20px 0 0;
        width: 100%;
        height: 60px;
        color: #fff;
        background-color: $main-color;
        font-size: 24px;
        opacity: 1;
      }
    }

    &.rel-checked {
      border-left: none;
      transform: scale(0.98);
    }
  }
}
