@import "~Styles/variables";

.ldc-textfield {
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: white;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  outline: none;
  color: $main-color;
  padding: 0 25px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: all 300ms ease;

  &.t-app-style {
    color: white;
    background-color: transparent;
    border: solid 1px $bg-level-3;
    border-radius: 0;
    height: 40px;
    font-size: 14px;
    padding: 0 12px;

    &::placeholder {
      color: $bg-level-3;
      font-weight: 100;
    }

    &:focus {
      border-color: #fff;
    }
  }
}

@media (max-width: $screen-tablets) {
  .ldc-textfield {
    &.t-app-style {
      height: 60px;
      font-size: 18px;
      padding: 0 16px;
    }
  }
}
