@import "~Styles/variables";

.ldc-social-login {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 0 18px 0 32px;
  text-transform: capitalize;
  transition: all 300ms ease;
  text-align: center;

  i {
    position: relative;
    left: -10px;

    &[class*="google"] {
      top: 1px;
      font-size: 19px;
    }

    &[class*="linkedin"] {
      top: 3px;
      font-size: 23px;
    }
  }

  &:hover {
    color: $main-color;
    border-color: $main-color;
    background-color: #fff;
  }
}
