@import "~Styles/variables";

.ldc-review {
  padding-top: 10px;
  &-read,
  &-new {
    &__content {
      padding: 10px 0 5px 0;
    }
  }

  &-new {
  }

  &__control {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: $screen-md) {
  .ldc-review {
    padding-top: 10px;
  }
}
