@import "~Styles/variables";

.ldc-leads-template {
  .lt-results-head {
    position: relative;
    padding: 20px 0 15px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: capitalize;

    &.is-search-results h4 {
      font-size: 24px;
      font-weight: 300;
      padding-bottom: 40px;
    }

    &.not-search-results {
      height: 69px;
      box-sizing: content-box;
    }

    .ldc-table-buttons {
    }

    .ldc-button {
      //position: absolute;
      //top: 20px;
      //right: 0;
      margin-left: 5px;
    }
  }

  .lt-zero-results {
    padding-top: 40px;
    text-align: center;

    h3 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 10px;
    }

    span {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.3px;

      a {
        letter-spacing: 0.5px;
        font-weight: 400;
        color: #fff;
      }
    }
  }

  .mobileOnly {
    display: none;
  }
}

@media (max-width: $screen-tablets) {
  .ldc-leads-template {
    &.selectable {
      margin-bottom: 70px;
    }

    .lt-results-head {
      &.is-search-results h4 {
        font-size: 26px;
        padding-bottom: 20px;
      }

      &.not-search-results {
        height: unset;
        box-sizing: unset;
        padding: 0;
      }

      .ldc-button {
        display: none;
      }
    }

    .mobileOnly {
      display: block;
      position: fixed;
      bottom: 0px;
      left: 1px;
      right: 1px;
      width: auto;
      padding: 5px;
      background-color: $main-color;
    }
  }
}
