@import "~Styles/variables";

.ldc-leads-template {
  .lt-results-head {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    height: 80px;
    line-height: 80px;

    select.ldc-select {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 150px;
    }
  }
}
