@import "~Styles/variables";

.ldc-leads-template {

  .lt-results-head {
    position: relative;
    padding: 20px 0 15px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: capitalize;

    h4 {
      font-size: 24px;
      font-weight: 300;
      padding-bottom: 40px;
    }

    .ldc-button {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  .lt-zero-results {
    padding-top: 40px;
    text-align: center;

    h3 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 10px;
    }

    span {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.3px;

      a {
        letter-spacing: 0.5px;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}
