@import "~Styles/variables";

.ldc-leads-template {
  .lt-filters {
    margin-top: 30px;

    select.ldc-select,
    input.ldc-textfield {
      max-width: 220px;
      margin-right: 20px;
    }
  }

  .lt-results-head {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    height: 80px;
    line-height: 80px;

    select.ldc-select {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 150px;
    }
  }

  .lt-zero-results {
    padding-top: 40px;
    text-align: center;

    h3 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 10px;
    }

    span {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.3px;

      a {
        letter-spacing: 0.5px;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}
