## mysql docker service
MYSQL_ROOT_PASSWORD=Pa$$w0rd

## backend & mysql docker service
MYSQL_USER=ldc_user
MYSQL_PASSWORD=ldc_password
MYSQL_DATABASE=leadcoin_test

## backend
NODE_ENV=development
# one of [test,development]
MYSQL_HOST=localhost
# when using docker-compose, set to mysql service name (mysql)
