## mysql docker service
MYSQL_ROOT_PASSWORD=Pa$$w0rd

## backend & mysql docker service
MYSQL_USER=ldc_user
MYSQL_PASSWORD=ldc_password
MYSQL_DATABASE=leadcoin_test

## backend
# NODE_ENV can be one of [test,development,production]
NODE_ENV=development

# external host - used to generate absolute URLs
HOST=https://355b6e23.ngrok.io

# when using docker-compose, set MYSQL_HOST to mysql service name ("mysql")
MYSQL_HOST=localhost

JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=86400000

# To enable google oauth2, visit https://console.developers.google.com, create
# a `Oauth2 client ID` and enable `Google+ API`
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

FACEBOOK_CLIENT_ID=client_id
FACEBOOK_CLIENT_SECRET=client_secret

# If you use Gmail, allow less secure apps at
# https://myaccount.google.com/lesssecureapps
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=email@example.com
MAIL_PASS=password
