## mysql docker service
MYSQL_ROOT_PASSWORD=Pa$$w0rd

## backend & mysql docker service
MYSQL_USER=ldc_user
MYSQL_PASSWORD=ldc_password
MYSQL_DATABASE=leadcoin_test

## backend
# NODE_ENV can be one of [test,development,production]
NODE_ENV=development
# when using docker-compose, set MYSQL_HOST to mysql service name ("mysql")
MYSQL_HOST=localhost
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=86400000
