@import "~Styles/variables";

.csvUpload {
  padding: 10px;
  .error {
    padding: 5px;
    margin: 5px;
    > div {
      padding: 5px;
      margin: 5px;
      background-color: red;
      font-weight: bold;
    }
  }
  .file-pick {
    margin-bottom: 10px;
    .ldc-button {
      position: relative;
      .displaynone {
        position: absolute;
        opacity: 0;
        border-radius: 25px;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
