@import "~Styles/variables";

.buy_leads {
  .bl-filters {
    padding-bottom: 40px;
    position: relative;

    .search_bar {
      margin-right: 10px;
      line-height: 20px;
      margin-top: 5px;
      width: 200px;
    }

    &:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 100vw;
      background-color: $main-color;
      bottom: 0;
      right: -30px;
      z-index: 0;
    }

    select {
      width: 250px;
      margin-right: 25px;
    }

    .search-button-wrapper {
      margin-top: 15px;
    }
  }
}

@media (max-width: $screen-tablets) {
  .buy_leads .bl-filters {
    padding-bottom: 40px;
    position: relative;

    .search_bar {
      margin-right: unset;
      width: 100%;
      margin-top: unset;
      margin-bottom: 15px;
    }

    &:after {
      height: 5px;
      right: -20px;
    }

    select {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
