@import "../../styles/variables";

.fields_mapper {
  padding: 10px;
  .personal {
    padding-bottom: 10px;
    border-bottom: solid 1px black;
  }
  .public {
    padding-top: 10px;
  }
  .controls {
    margin: 20px;
  }
  .help_text {
    width: 200px;
  }
  .error {
    color: red;
    label {
      color: red;
    }
  }
  .line {
    margin: 20px 10px;
    height: 40px;
    line-height: 40px;

    .fieldLabel {
      width: 100px;
      margin-right: 5px;
      text-transform: capitalize;
    }
  }
  .price {
    margin-left: 10px;
    input {
      margin-left: 10px;
      width: 150px;
    }
  }
  .flexed {
    display: flex;
  }
}
