* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #180852;

  *:not(i) {
    font-family: "Source Sans Pro", sans-serif;
  }

  div,
  p {
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
