// inline manual hide the message: ☑ Do not show this to me again
.inmplayer-autolaunch-dismiss {
  display: none;
}
.csvclass {
  width: 540px !important;
}

.csvclass img {
  width: 500px !important;
  height: auto !important;
}

.ajax-loader {
  background: url("./ajax-loader.gif");
  width: 100%;
  background-size: contain;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 25px 0px;
}

.csvclass {
  // margin-top: -250px;
}
.csvclass .inmplayer-popover-button-next.inmplayer-button {
  background: url("./savedialog.jpg") no-repeat;
  background-size: contain;
  width: 500px;
  height: 386px;
  border: 0;
}

.inmplayer-popover-button-next {
  float: right;
}

.inline-uploading {
  .inmplayer-button {
    animation: show-button 3s linear;
  }

  .loading {
    height: 10px;
    background-color: green;
    opacity: 0;
    animation: move-loader 3s linear;
  }
}

[class*="inmplayer-popover-button"] {
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 16px;
  font-family: proxima-nova !important;
}

.marginalgorithm {
  .inmplayer-button {
    animation: show-button 5s linear;
  }

  .ajax-loader {
    opacity: 0;
    animation: hide-ajaxloader 5s linear;
  }
}

@keyframes move-loader {
  0% {
    width: 0px;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-button {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-ajaxloader {
  0%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.inmplayer-popover-wrapper {
  border-color: white;
}

.fczbkk-popover-pointer-holder.inmplayer-popover-pointer-holder {
  z-index: 100023 !important;

  .inmplayer-popover-pointer-shape {
    fill: white;
    stroke: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
