// inline manual hide the message: ☑ Do not show this to me again
.inmplayer-autolaunch-dismiss {
  display: none;
}
.csvclass {
  width: 540px !important;
}

.csvclass img {
  width: 500px !important;
  height: auto !important;
}

.csvclass {
  // margin-top: -250px;
}
.csvclass .inmplayer-popover-button-next.inmplayer-button {
  background: url(https://snag.gy/RoGt1V.jpg) no-repeat;
  background-size: contain;
  width: 500px;
  height: 386px;
  border: 0;
}

.inmplayer-popover-button-next {
  float: right;
}

.inline-uploading {
  .inmplayer-button {
    animation: show-button 3s linear;
  }

  .loading {
    height: 10px;
    background-color: green;
    opacity: 0;
    animation: move-loader 3s linear;
  }
}

[class*="inmplayer-popover-button"] {
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 16px;
  font-family: proxima-nova !important;
}

@keyframes move-loader {
  0% {
    width: 0px;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-button {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.marginalgorithm {
  .inmplayer-button {
    animation: show-button 5s linear;
  }

  i {
    height: 0;
    overflow: hidden;
    color: #180852;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    &.fa-hourglass-start {
      opacity: 1;
      animation: hide-hourglass 5s linear,
        hourglass 4s cubic-bezier(0.85, 0.2, 0.25, 1) infinite,
        hourglass-start 4s linear infinite;
    }
    &.fa-hourglass-end {
      opacity: 0;
      animation: hide-hourglass 5s linear,
        hourglass 4s cubic-bezier(0.85, 0.2, 0.25, 1) infinite,
        hourglass-end 4s linear infinite;
    }
  }
}

@keyframes hourglass {
  0% {
    transform: rotate(0deg);
  }
  40%,
  50% {
    transform: rotate(180deg);
  }
  90%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hourglass-start {
  0%,
  80% {
    opacity: 1;
  }
  30%,
  40% {
    opacity: 0;
  }
}

@keyframes hourglass-end {
  0%,
  80% {
    opacity: 0;
  }
  30%,
  40% {
    opacity: 1;
  }
}

@keyframes show-button {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-hourglass {
  0%,
  99% {
    height: auto;
  }
  100% {
    height: 0;
  }
}
