// inline manual hide the message: ☑ Do not show this to me again
.inmplayer-autolaunch-dismiss {
  display: none;
}
.csvclass {
  width: 540px !important;
}

.csvclass img {
  width: 500px !important;
  height: auto !important;
}

.csvclass {
  // margin-top: -250px;
}
.csvclass .inmplayer-popover-button-next.inmplayer-button {
  background: url(https://snag.gy/RoGt1V.jpg) no-repeat;
  background-size: contain;
  width: 500px;
  height: 386px;
  border: 0;
}

.inmplayer-popover-button-next {
  float: right;
}

.inline-uploading {
  .inmplayer-button {
    animation: show-button 3s linear;
  }

  .loading {
    height: 10px;
    background-color: green;
    opacity: 0;
    animation: move-loader 3s linear;
  }
}

@keyframes move-loader {
  0% {
    width: 0px;
    opacity: 1;
  }
  99% {
    width: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-button {
  0%,
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
