// COLORS
$bg-color: rgb(14, 0, 63);
$bg-main-btn: #3190fc;
$ldc-error-color: red;

// SIZES
$header-height: 80px;

// SCREENS
$screen-xl: 1280px;
$screen-md: 1060px;
$screen-sm: 900px;
$screen-tablets: 700px;
