// COLORS
$main-color: #180852;
$ldc-color: rgb(227, 31, 64);
$bg-level-2: #4c389b;
$bg-level-3: #ad9fe9;
$bg-main-btn: #3190fc;
$ldc-error-color: rgb(227, 31, 64);
$ldc-error-background-color: rgb(252, 174, 186);

// SIZES
$header-height: 80px;
$side-menu-width: 80px;

// Z INDEXES
$header-z: 10;

// SCREENS
$screen-xl: 1280px;
$screen-md: 1060px;
$screen-sm: 900px;
$screen-tablets: 700px;
$screen-narrow: 370px;
