@import "~Styles/variables";

.tb-row {
  .eye {
    background: url("eye.svg");
    color: white;
    position: absolute;
    left: 10px;
    display: none;
    width: 30px;
    background-size: contain;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    padding-top: 35px;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    .eye {
      display: inline-block;
    }
  }
}
