@import "~Styles/variables";

.tb-row {
  .options {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-left: 40px;

    &:hover {
      cursor: pointer;
    }
  }
  .trash {
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 5px;
  }

  .eye {
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 5px;
  }

  .pencil {
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 5px;
  }

  &:hover {
    .trash,
    .eye,
    .pencil {
      cursor: pointer;
    }
  }
}
