@import "~Styles/variables";

header.ldc-header {
  display: flex;
  height: $header-height;
  line-height: $header-height;
  padding: 0 25px;

  .logo-link {
    display: inline-block;
    height: 100%;
    width: 108px;
    background-image: url("~Images/logo.png");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sign-link {
    padding-left: 60px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    a {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      background-color: $bg-main-btn;
      color: #fff;
      padding: 0 29px;
      margin-left: 20px;
      border-radius: 20px;
      text-transform: capitalize;
      transition: all 300ms ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
