@import "~Styles/variables";

.add_lead {
  padding: 10px;
  .personal {
    padding-bottom: 10px;
    border-bottom: solid 1px black;
  }
  .public {
    padding-top: 10px;
  }
  .controls {
    margin: 5px;
  }
  .help_text {
    max-width: 500px;
  }
  .field_submit {
    margin-top: 5px;
    .twothirds {
      width: 242px;
    }
  }
  .line {
    &.error .fieldValue input {
      border: $ldc-error-color solid 1px;
    }
    margin: 10px 15px;
    height: 50px;
    line-height: 50px;
    width: 250px;

    input::placeholder {
      text-transform: capitalize;
    }
  }
  .agree_to_terms {
    &.error {
      color: $ldc-error-color;
    }
  }
  .flexed {
    display: flex;
  }
  .errors {
    color: $ldc-error-color;
    font-size: 18px;
    padding: 5px;
    width: 300px;
  }
}
