@import "~Styles/variables";

.ldc-select {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  padding: 0 12px;
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 0;
  border: solid 1px $bg-level-3;
  font-weight: 300;
  background-color: transparent;
  color: white;
  font-size: 14px;
  background-image: linear-gradient(135deg, $bg-level-3 50%, transparent 50%),
    linear-gradient(45deg, transparent 50%, $bg-level-3 50%);
  background-size: 5px 5px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center, calc(100% - 17px) center;
  transition: all 300ms ease;

  &:hover,
  &:focus {
    border-color: white;
  }

  option {
    color: white;
    background-color: $bg-level-2;
    font-weight: 300;
  }

  option:disabled {
    color: rgba($color: #ffffff, $alpha: 0.4);
  }
}

@media (max-width: $screen-tablets) {
  .ldc-select {
    height: 60px;
    font-size: 18px;
    padding: 0 16px;
  }
}
