@import "~Styles/variables";

.ldc-signup-form {
  padding-top: 40px;

  h1 {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2.5px;
    margin-bottom: 30px;
  }

  .sf-social-buttons {
    margin-bottom: 30px;
  }

  .sf-form {
    margin-bottom: 30px;
  }
}
