.notifications-table {
  .nt-title {
    font-size: 28px;
    font-weight: 300;
    padding-left: 10px;
  }

  .nt-content {
    padding-top: 25px;
    padding-left: 10px;

    .nt-row {
      padding: 10px 10px 10px 0px;
    }
  }
}
