@import "~Styles/variables";

.ldc-checkbox {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  padding-left: 30px;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  span {
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 1px;
    transition: all 350ms ease;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 6px;
      height: 0;
      width: 0;
      display: inline-block;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transform: rotate(45deg);
      transition: all 350ms cubic-bezier(0.06, 0.84, 0.2, 1.14);
    }
  }

  input[type="checkbox"]:checked + span {
    background-color: #fff;

    &:before {
      top: 1px;
      height: 11px;
      width: 5px;
      border-color: $main-color;
    }
  }
}
