@import "~Containers/Signup/Signup";

.react-tel-input.ldc-react-phone-input {
  input[type="tel"],
  input[type="text"] {
    color: $main-color;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    padding-left: 90px;
  }

  .flag-dropdown,
  .flag-dropdown.open-dropdown {
    width: 75px;
    border-radius: 25px 0 0 25px;
    background-color: #eaeaea;
    border: none;

    .selected-flag {
      width: 75px;
      border-radius: 25px 0 0 25px;
      padding: 0 0 0 22px;
      background: transparent;
      transition: all 300ms ease;

      .flag {
        margin-top: 0;
        transform: translateY(-50%);

        .arrow,
        .arrow.up {
          left: 26px;
          border-top: 5px solid $main-color;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          margin-top: 0;
          transform: translateY(-4px);
          transition: all 300ms ease;

          &.up {
            border-top: none;
            border-bottom: 5px solid $main-color;
            transform: translateY(-3px);
          }
        }
      }

      &:hover {
        background-color: $bg-main-btn;

        .flag {
          .arrow {
            border-top-color: #fff;

            &.up {
              border-bottom-color: #fff;
            }
          }
        }
      }
    }

    ul.country-list {
      left: 75px;
      top: 50px;
      max-width: calc(100vw - 140px);
      margin: 0;
      box-shadow: none;
      color: $main-color;
    }
  }
}
