section.ldc-user-settings {
  .us-password {
    h3 {
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 18px;
    }

    .ldc-textfield {
      display: block;
      max-width: 250px;
      margin-bottom: 18px;
    }
  }
}
