.ldc-balance-widget {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  margin-top: -3px;

  a {
    display: block;
    padding-top: 4px;
    font-size: 14px;
  }
}
