@import "~Styles/variables";

.ldc-app {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(~Images/bg_shape.png);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
  }

  main {
    max-width: 1340px;
    margin: auto;
    padding: 0 30px 80px;

    &.a-app-mode {
      max-width: 100vw;
      min-height: 100vh;
      top: $header-height;
      padding: calc(#{$header-height} + 30px) 30px 30px
        calc(#{$side-menu-width} + 30px);
      background-color: $bg-level-2;
    }
  }
}

@media (max-width: $screen-tablets) {
  .ldc-app {
    main {
      padding: 0 20px 80px;

      &.a-app-mode {
        padding: calc(#{$header-height} + 80px) 20px 20px;
      }
    }
  }
}
