@import "~Styles/variables";

.ldc-language-selector {
  position: relative;
  display: inline-block;
  top: 3px;

  .selected-flag,
  .flag {
    width: 28px;
    height: 21px;
    cursor: pointer;
  }

  .flags-menu {
    position: absolute;
    top: 30px;
    z-index: calc(#{$header-z} + 1);

    .flag {
      margin-top: 5px;
    }
  }
}
