@import "~Styles/variables";

.ldc-table {
  position: relative;
  font-size: 14px;
  text-align: left;
  min-height: 100%;

  .t-buttons {
    display: none; //temp
    position: absolute;
    top: 20px;
    right: 0;
  }

  .t-main {
    overflow-x: auto;

    .t-head,
    .t-body {
      min-width: 1920px;
      .th-row,
      .tb-row {
        position: relative;
        padding-left: 50px;

        &.favorite-lead {
          background: $favorite-lead;
        }

        &.display-lead {
          padding-left: 100px;
        }

        .thr-checkbox {
          /*rtl:ignore*/
          direction: ltr;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }

        .thr-col,
        .tbr-col {
          display: inline-block;
          padding: 0 5px;
          height: 50px;
          line-height: 50px;
          overflow: hidden;
        }
      }
    }

    .t-head {
      background-color: $main-color;

      .th-row {
        .thr-col {
          height: 40px;
          line-height: 40px;
          text-transform: capitalize;
        }
      }
    }

    .t-body {
      .tb-row {
        position: relative;
        margin-bottom: 1px;

        &:not(.favorite-lead):nth-child(odd) {
          background-color: $table-background-odd;
        }

        &:not(.favorite-lead):nth-child(even) {
          background-color: $table-background-even;
        }

        &.r-selected {
          background-color: $table-background-selected;
        }

        .tbr-checkbox,
        .tbr-buttons {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .tbr-checkbox {
          /*rtl:ignore*/
          direction: ltr;
          left: 20px;
        }

        .tbr-buttons {
          right: 20px;
          opacity: 0;

          .ldc-button {
            height: 30px;
            padding: 0 15px;
            font-size: 14px;
            background-color: $main-color;
            color: #fff;
            text-transform: uppercase;
          }
        }

        .tbr-col {
          height: 50px;
          line-height: 50px;
          white-space: pre;
          text-overflow: ellipsis;
        }

        &:hover {
          .tbr-buttons {
            opacity: 1;
          }
        }
      }
    }
  }
}
