@import "~Styles/variables";

.ldc-table {
  font-size: 14px;
  text-align: left;
  min-height: 100%;

  .t-buttons {
    .ldc-button {
      margin-bottom: 30px;
    }
  }

  .t-head,
  .t-body {
    .th-row,
    .tb-row {
      position: relative;
      padding-left: 50px;

      .thr-checkbox {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }

      .thr-col,
      .tbr-col {
        display: inline-block;
        padding: 0 15px;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
      }
    }
  }

  .t-head {
    background-color: $main-color;

    .th-row {
      .thr-col {
        height: 40px;
        line-height: 40px;
        text-transform: capitalize;
      }
    }
  }

  .t-body {
    .tb-row {
      position: relative;
      background-color: $bg-level-3;
      margin-bottom: 1px;

      .tbr-checkbox,
      .tbr-buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .tbr-checkbox {
        left: 20px;
      }

      .tbr-buttons {
        right: 20px;
        opacity: 0;
      }

      .tbr-col {
        height: 50px;
        line-height: 50px;
      }

      &:hover {
        .tbr-buttons {
          opacity: 1;
        }
      }
    }
  }
}
