@import "~Styles/variables";

.ldc-table {
  font-size: 14px;
  text-align: left;
  min-height: 100%;

  .t-buttons {
  }

  .t-main {
    overflow-x: auto;

    .t-head,
    .t-body {
      min-width: 1100px;
      .th-row,
      .tb-row {
        position: relative;
        padding-left: 50px;

        .thr-checkbox {
          /*rtl:ignore*/
          direction: ltr;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }

        .thr-col,
        .tbr-col {
          display: inline-block;
          padding: 0 10px;
          height: 50px;
          line-height: 50px;
          overflow: hidden;
        }
      }
    }

    .t-head {
      background-color: $main-color;

      .th-row {
        .thr-col {
          height: 40px;
          line-height: 40px;
          text-transform: capitalize;
        }
      }
    }

    .t-body {
      .tb-row {
        position: relative;
        background-color: $bg-level-3;
        margin-bottom: 1px;

        .tbr-checkbox,
        .tbr-buttons {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .tbr-checkbox {
          left: 20px;
        }

        .tbr-buttons {
          right: 20px;
          opacity: 0;

          .tbrb-buy {
            display: inline-block;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-image: url("~Images/coin_logo.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            box-shadow: 0px 0px 19px 2px rgba(255, 255, 255, 0.6);

            &:before {
              content: "Buy";
              position: absolute;
              right: 39px;
              top: 9px;
              font-size: 10px;
              text-transform: uppercase;
            }
          }
        }

        .tbr-col {
          height: 50px;
          line-height: 50px;
          white-space: pre;
          text-overflow: ellipsis;
        }

        &:hover {
          .tbr-buttons {
            opacity: 1;
          }
        }
      }
    }
  }
}
