@import "~Styles/variables";

nav.ldc-side-menu {
  position: fixed;
  top: $header-height;
  left: 0;
  background-color: $main-color;
  width: $side-menu-width;
  height: calc(100vh - #{$header-height});
  padding-top: 30px;
  z-index: calc(#{$header-z} - 1);

  a {
    display: block;
    margin: 0 auto 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    transition: all 350ms ease;

    &:hover {
      color: $ldc-color;
    }

    &.sm-active {
      background-color: $ldc-color;

      &:hover {
        color: #fff;
      }
    }
  }
}

@media (max-width: $screen-tablets) {
  nav.ldc-side-menu {
    height: 60px;
    line-height: 60px;
    width: 100vw;
    border-top: 1px solid $bg-level-2;
    padding-top: 0;
    text-align: center;

    a {
      display: inline-block;
      width: auto;
      height: 100%;
      font-size: 16px;

      &.sm-active,
      &.sm-active:hover {
        color: $ldc-color;
        background-color: transparent;
      }

      &:before {
        content: attr(data-text);
        text-transform: capitalize;
        letter-spacing: 0.2px;
        padding: 0 12px;
      }

      i {
        display: none;
      }
    }
  }
}

@media (max-width: $screen-narrow) {
  nav.ldc-side-menu {
    a {
      font-size: 14px;

      &:before {
        letter-spacing: 0.2px;
        padding: 0 10px;
      }
    }
  }
}
