.ldc-table {
  font-size: 14px;
  text-align: left;
  padding: 30px;
}

.ldc-table .th-row, 
.ldc-table .tb-row {
  padding-left: 50px;
}

.ldc-table .tb-row {
  background-color: hsl(0, 0%, 95%);
  margin-bottom: 1px;
  position: relative;
}

.ldc-table .tb-row .tbr-checkbox {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 13px;
}

.ldc-table .thr-col,
.ldc-table .tbr-col {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
}

.ldc-table .thr-col {
  height: 40px;
  line-height: 40px;
  text-transform: capitalize
}

.ldc-table .tbr-col {
  height: 50px;
  line-height: 50px;
}