@import "~Styles/variables";

section.ldc-signup {
  display: flex;
  margin-top: 40px;

  .s-main {
    padding-right: 50px;
    border-right: 1px solid #6275a7;

    h1 {
      font-size: 72px;
      font-weight: 400;
      letter-spacing: 2.5px;
      margin-bottom: 40px;
    }

    p {
      padding-left: 25px;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 0.5px;
    }

    .sm-social-buttons {
      margin-bottom: 40px;

      .ldc-social-login:first-of-type {
        margin-right: 20px;
      }
    }

    .sm-form {
      display: flow-root;
      width: calc(100% - 130px);

      button {
        margin-top: 34px;
        float: right;
      }

      .smf-agree {
        display: inline-block;
        margin-top: 26px;
        line-height: 1.5;
      }
    }
  }

  aside {
    padding: 20px 0 0 50px;
    max-width: 750px;

    h3 {
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.8px;
      margin-bottom: 20px;
    }

    q {
      display: block;
      font-size: 16px;
      margin-bottom: 33px;
      font-weight: 300;
      line-height: 1.2;
    }

    label {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      span {
        position: absolute;
        width: 200px;
        left: calc(100% + 15px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media (max-width: $screen-xl) {
  section.ldc-signup {
    color: red;
  }
}
