.ldc-checkout {
  display: flow-root;

  .error {
    text-align: right;
    color: orangered;
    margin: 5px;
    clear: both;
  }

  .c-total .text {
    font-weight: 200;
    font-size: 18px;
  }
  .c-total {
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;

    table {
      width: 100%;
      padding: 0 63px;
    }
  }

  .c-details {
    position: relative;
    float: right;
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;

    table {
      border-collapse: collapse;
      margin: 20px 0;

      .c-remainder {
        border-top: 2px solid white;
      }
    }
  }

  .amount {
    text-align: right;
    padding-left: 10px;
  }

  .button-container {
    width: 100%;
    clear: both;
    margin-top: 10px;

    .ldc-button {
      float: right;
    }
  }
}
