@import "~Styles/variables";

section.ldc-leads-results {
  label.lr-check-all {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
  }

  .lr-main {
  }
}
