@import "~Styles/variables";

.history-lead {
  display: flex;

  &-fields {
    padding-top: 25px;
  }

  &-value {
    font-weight: 300;
  }

  &-label {
    text-transform: capitalize;
    min-width: 200px;
  }

  &-detail-key {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }

  &-detail-values {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &-title {
    width: 250px;
    padding-top: 15px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &-item {
    margin: 10px 15px;
    width: auto;
    display: flex;
  }
}

@media (max-width: $screen-tablets) {
  .history-lead {
    display: block;

    &-item {
      margin: 0;
      display: block;
    }
  }
}
