@import "~Styles/variables";

.ldc-button {
  height: 50px;
  background-color: $bg-main-btn;
  border-radius: 25px;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 30px;
  font-weight: 300;
  border: none;
  outline: none;
  transition: all 300ms ease;
  cursor: pointer;
  border-radius: 30px;

  &:hover {
    opacity: 0.8;
  }

  &.b-app-style {
    height: 45px;
    // border-radius: 0;
    padding: 0 30px;
    // background-color: $bg-level-3;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      color: $main-color;
      background-color: #fff;
    }
  }

  &.b-secondary {
    // border: solid 1px $bg-level-3;
    border: solid 1px transparent;
    color: $bg-level-3;
    background-color: transparent;

    &:hover {
      color: #fff;
      // border-color: #fff;
    }
  }

  &.b-loading {
    &::after {
      content: "";
      position: relative;
      top: 3px;
      left: 6px;
      display: inline-block;
      height: 15px;
      width: 15px;
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-right-color: #fff;
      border-radius: 50%;
      animation: loading-spinner 700ms linear infinite;
    }
  }

  &:disabled {
    cursor: default;

    &:not(.b-loading) {
      opacity: 0.5;
    }
  }
}

@media (max-width: $screen-tablets) {
  .ldc-button {
    &.b-app-style {
      width: 100%;
      height: 60px;
      font-size: 24px;
      font-weight: 400;
    }
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
