@import "~Styles/variables";

.ldc-loading-dots {
  text-align: center;
  margin-top: 30px;

  &:after {
    content: "\25CF";
    animation: loading-dots 1100ms steps(5, end) infinite;
  }
}

@media (max-width: $screen-tablets) {
  .ldc-loading-dots {
    margin-top: 20px;
  }
}

/*!rtl:begin:ignore*/
@keyframes loading-dots {
  0%,
  20% {
    color: transparent;
    text-shadow: 14px 0 0 transparent, 28px 0 0 transparent;
  }
  40% {
    color: #fff;
    text-shadow: 14px 0 0 transparent, 28px 0 0 transparent;
  }
  60% {
    text-shadow: 14px 0 0 #fff, 28px 0 0 transparent;
  }
  80%,
  100% {
    text-shadow: 14px 0 0 #fff, 28px 0 0 #fff;
  }
}
/*!rtl:end:ignore*/
