body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flexed {
  display: flex;
}

.external_login_container {
  display: flex;
  text-align: left;
  width: 50vw;
  margin-bottom: 5vh;
}

.login_header {
  text-align: left;
  font-size: 60px;
}

.external_login_container >div {
  min-width: 20vw;
  flex-grow: 1;
  margin: 0.5vw;
}

.loginForm {
  width: 60vw;
  margin: 2vw auto;
}

.login_containers {
  padding: 1vw;
}

.login_containers .localLogin {
  margin-top: 1.5vh;
  text-align: left;
}

.login_containers >div {
  flex-grow: 1;
}

.error {
  text-align: left;
  width: 50vw;
  margin: 0.5vw auto;
  padding: 0.5vw;
  color: red;
  border: solid thin red;
}

.error >div {
  margin: 0.5vw;
}

.signup_cta {
  margin: 1vh;
}

.signup_cta a {
  text-decoration: underline;
  color: rgb(255, 102, 0);
  cursor: pointer;
}

.emailConfirm {
  margin-top: 4vh;
}

.emailConfirm >div {
  margin: 1vw;
}

.page_split {
  display: flex;
  border-bottom: solid thin black;
  align-items: stretch;
  height: 100vh;
}

.pwordField {
  border-radius: 1.5vw;
  padding: 2vw;
  background-color: white;
  border-bottom: none;
}

.alignRight {
  padding: 1vh 0;
  text-align: right;
}

.top_strip .logo {
  background-image: url(/logo_dark.jpg);
  background-size: cover;
  height: 87.5px;
  width: 200px;
}

.top_strip {
  height: 80px;
  line-height: 80px;
}

.top_strip >div {
  margin: 0.5vw;
}

.flexed_start {
  justify-content: flex-start;
}

.spaced {
  justify-content: space-between;
}

.login_helpers {
  justify-content: space-between;
}

.emailField {
  padding: 2vw;
  border-radius: 1.5vw;
  background-color: white;
}

.page_split .right {
  flex-grow: 3;
  background-color: #DaD7D2;
}

.page_split .left {
  flex-grow: 7;
  background-color: #F4F4F4;
}