@import "~Styles/variables";

.home {
  .title {
    text-align: center;
    font-size: 35px;
  }
  .container {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    .option {
      display: inline-block;

      .ldc-button {
        width: 250px;
        background-color: white;
        color: $main-color;
      }

      .description {
        width: 250px;
        color: white;
        font-weight: 100;
        margin-top: 5px;
      }
    }

    .buy {
      margin-right: 10px;
    }

    .sell {
      margin-left: 10px;
    }
  }

  @media (max-width: 760px) {
    .container {
      width: auto;

      .option {
        display: block;
        margin: auto;
        margin-top: 40px;

        .description {
          margin: auto;
          margin-top: 5px;
        }
      }
    }
  }
}
