@import "~Styles/variables";

.bet {
  &_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &_price {
    border: 1px solid black;
  }

  &_ &_headerTitle {
    font-size: 18px;
    display: block;
  }

  &_body {
    padding: 25px 0;
  }

  .ldc-button {
    margin-right: 10px;
  }
}

.buttons-section {
  display: flex;
  justify-content: flex-end;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  top: 55vh;
  left: 50vw;
  right: auto;
  bottom: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  background: #fff;
  outline: none;
  border-radius: 6px;
  padding: 1.3em;
  color: #000;
}

.buttons-section {
  padding: 4px;
  display: flex;
}

.align-end {
  justify-content: flex-end;
}
.align-between {
  justify-content: space-between;
}
.close-button {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  cursor: pointer;
  color: #777777;
}

@media (max-width: $screen-tablets) {
  .modal-container {
    font-size: 12px;
    max-width: 95vw;
    max-height: 82vh;
  }
  .close-button {
    font-size: 24px;
  }
}
