.user-menu {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;

  .user-icon {
    height: 30px;
  }

  .user-menu-inner {
    position: absolute;
    width: 200px;
    top: 80px;
    left: -160px;
    background: #433190;
    line-height: 30px;

    .small-arrow {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -6px;
      right: 15px;
      background: #433190;
      transform: rotateZ(45deg);
      z-index: -1;
    }

    .um-row {
      display: block;
      padding: 15px;
      color: white;

      &.log-out {
        border-top: 1px solid #6a56bb;
        
        &:hover {
          border-top-color: #b7adef;
        }
      }


      &:hover {
        background-color: #b7adef;
        border-bottom-color: #b7adef;
      }
    }
  }
}